*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Georama", sans-serif;
}

.hideshow-div{
width: 800px;
height: 200px;
padding:30px;
background-color: #1380f5 ;

clip-path: circle(21.5% at 0 0);
transition: all 0.3s;
}

.hideshow-div:hover{
clip-path: circle(141.4% at 0 0);
}

.clicker {
width:100px;
height:100px;
background-color:blue;
outline:none;
cursor:pointer;
}

.hidden-div{
display:none;
}

.show-histo-kmkc-upper{
display:none;
}

.show-histo-kmka-upper{ 
display:none;
}

.show-histo-kmkc-aori{ 
display:none;
}

.show-histo-kmka-aori{ 
display:none;
}


.clicker:focus + .hiddendiv{
display:block;
}
